/*common rule*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #b91450;
    font-family: Arial, Helvetica, sans-serif;
}
/*margin*/
.ms_mb-15{
    margin-bottom: 15px ;
}
.ms_mt-15{
    margin-top: 15px;
}
.ms_mb-50{
    margin-bottom: 50px;
}
.ms_mx-10{
    margin: 0px 10px;
}

/*padding*/
.ms_p-5{
    padding: 5px;
}
.ms_p-15{
    padding: 15px;
}
/*text-color*/
.ms_purple-text{
    color: #b91450;
}
/*header*/
h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
}

/*main*/
.container{
    max-width: 1080px;
    width: 100%;
    margin: 50px auto;
}

/*form*/
.dati-utente{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000;
}

form{   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
    
.ms_input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}

.ms_input-text{
    text-align: center;
}

/*Ticket*/

.generated-ticket{
    display: none;
}
 h2{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
}

.ticket h3{
    text-transform: uppercase; 
}

.ticket{
    background-color: #fff;
    
}

.col-big{
    background-color: #808080;
    width: 25%;
    
}
.col-sm{
    width: 18.75%;
    border-top: solid 1px #808080;
    border-bottom: solid 1px #808080;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ticket-info{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.active{
    display: block;
}